<footer
  class="w-full bg-neutral-950/70 border-t border-custom py-4 px-4 sm:py-6 sm:px-12 backdrop-blur-xs"
>
  <div
    class="max-w-7xl mx-auto flex flex-col sm:flex-row items-center justify-between gap-3 sm:gap-4 text-center sm:text-left"
  >
    <footer-actions
      class="text-xs sm:text-sm w-full flex flex-wrap justify-center sm:justify-start gap-2"
    />

    <p class="text-xs sm:text-sm font-coloring shrink-0 whitespace-nowrap">
      © {{ currentYear }} Nostronmo
    </p>
  </div>
</footer>
