<header
  class="w-full py-6 px-6 sm:px-12 border-b bg-neutral-950/70 flex items-center justify-between backdrop-blur-xs border-custom"
>
  <div
    class="max-w-7xl mx-auto w-full flex flex-col sm:flex-row items-center justify-between gap-4 text-center sm:text-left"
  >
    <span
      class="select-none cursor-default drop-shadow-[0_1px_2px_rgba(0,0,0,0.8)] text-2xl font-light title-coloring"
    >
      Nostronmo
    </span>

    <header-actions
      class="sm:text-sm title-coloring flex flex-wrap justify-center sm:justify-end gap-2 sm:gap-4"
    ></header-actions>
  </div>
</header>
