<div class="flex items-center gap-4 font-medium">
  <a href="#writing" class="font-coloring2 transition-colors">{{ locale.ui().projects }}</a>

  <span class="text-white/20">|</span>

  <a href="#open-source" class="font-coloring2 transition-colors">{{ locale.ui().opensource }}</a>

  <span class="text-white/20">|</span>

  <a href="#documents" class="font-coloring2 transition-colors">{{ locale.ui().documents }}</a>

  <span class="text-white/20">|</span>

  <button
    (click)="locale.cycleLanguage()"
    class="font-bold px-2 py-1 hover:bg-white/10 rounded transition-colors cursor-pointer"
  >
    <span class="text-xs text-gray-400 font-normal mr-1"> {{ locale.ui().changeto }} </span>
    {{ locale.getDisplayLabel() }}
  </button>

  <span class="text-white/20">|</span>

  <button class="font-coloring2 transition-colors cursor-pointer">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="lucide lucide-sun"
      aria-hidden="true"
    >
      <circle cx="12" cy="12" r="4"></circle>
      <path d="M12 2v2"></path>
      <path d="M12 20v2"></path>
      <path d="m4.93 4.93 1.41 1.41"></path>
      <path d="m17.66 17.66 1.41 1.41"></path>
      <path d="M2 12h2"></path>
      <path d="M20 12h2"></path>
      <path d="m6.34 17.66-1.41 1.41"></path>
      <path d="m19.07 4.93-1.41 1.41"></path>
    </svg>
  </button>
</div>
