<div
  class="flex flex-wrap items-center justify-center sm:justify-start gap-3 sm:gap-4 transition-colors"
>
  <a
    href="https://github.com/nostronmo"
    target="_blank"
    rel="noopener noreferrer"
    class="font-coloring2 text-xs sm:text-sm"
    >GitHub</a
  >
  <a
    href="https://www.linkedin.com/in/firstpiecen/"
    target="_blank"
    rel="noopener noreferrer"
    class="font-coloring2 text-xs sm:text-sm"
    >LinkedIn</a
  >
  <a
    href="https://medium.com/@nostronmo"
    target="_blank"
    rel="noopener noreferrer"
    class="font-coloring2 text-xs sm:text-sm"
    >Medium</a
  >
  <a href="mailto:samuelsantana2903@gmail.com" class="font-coloring2 text-xs sm:text-sm">Email</a>
</div>
