<div class="flex items-center gap-4 transition-colors">
  <a
    href="https://github.com/nostronmo"
    target="_blank"
    rel="noopener noreferrer"
    class="font-coloring2"
    >GitHub</a
  >
  <a
    href="https://www.linkedin.com/in/firstpiecen/"
    target="_blank"
    rel="noopener noreferrer"
    class="font-coloring2"
    >LinkedIn</a
  >
  <a
    href="https://medium.com/@nostronmo"
    target="_blank"
    rel="noopener noreferrer"
    class="font-coloring2"
    >Medium</a
  >
  <a href="mailto:samuelsantana2903@gmail.com" class="font-coloring2">Email</a>
</div>
