@import 'tailwindcss';

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'DynaPuff', cursive;
}

@font-face {
  font-family: 'DynaPuff';
  src: url('./assets/fonts/DynaPuff-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DynaPuff';
  src: url('./assets/fonts/DynaPuff-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Quantico';
  src: url('./assets/fonts/Quantico-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Quantico';
  src: url('./assets/fonts/Quantico-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.font-dynapuff {
  font-family: 'DynaPuff', cursive;
}

.font-quantico {
  font-family: 'Quantico', sans-serif;
}

.font-coloring {
  color: color-mix(
    in oklab,
    var(--color-red-100) /* oklch(93.6% 0.032 17.717) = #ffe2e2 */ 70%,
    transparent
  );
}

.font-coloring2 {
  color: var(--color-red-100) /* oklch(88.5% 0.062 18.334) */;
}

.font-coloring2:hover {
  color: var(--color-red-300) /* oklch(80.8% 0.114 19.571) */;
}

.title-coloring {
  color: var(--color-red-100) /* oklch(93.6% 0.032 17.717) = #ffe2e2 */;
}

.border-custom {
  border-color: color-mix(
    in oklab,
    var(--color-red-100) /* oklch(93.6% 0.032 17.717) = #ffe2e2 */ 60%,
    transparent
  );
}
